/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*===========================
 --Base Header - Footer Styles--
 =============================*/
 /* General Styles */
 html {
   font-size: 16px;
 }

 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #202322;
  color: white;
 }

 ul,
 ol {
   list-style: none;
 }

 a {
   color: #e2e3ed;
  text-decoration: none;
 }

 h1{
   font-family: 'Poppins', sans-serif;
   font-size: 2.25em;
   font-weight: normal;
 }

 h3,
 h4 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.125rem;
   font-weight: normal;
 }

 p {
   font-size: 0.875rem;
   line-height: 1.5em;
 }

 img {
   width: 100%;
 }

 figure {
   margin: 0;
 }

 address {
   font-style: normal;
 }

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*Header Styles*/
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}
header figure {
  width: 62%;
}

.header-divide{
  width: 100%;
  height: 1px;
  background-color: #525252;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

header nav ul li {
  font-weight: bold;
  text-transform: uppercase;
}

/*-------Footer styles------*/
footer .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 90%;
  text-align: center;
}

footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 3em 0 0 0;
}

footer .copyright {
  margin: 1.25em 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

footer .social{
  display: flex;
  flex-flow: column;
  width: 58%;
}

footer .social-icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2.75rem;
}

.social-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #527158;
  border-radius: 50%;
  padding: 1rem 0;
}

/*============================
 ----Mobile Styles - Homepage---
 ===============================*/
/*-------Hero Area-------*/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/hero-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-area .content-wrapper {
  width: 90%;
}

.hero-area h1 {
  margin-bottom: 330px;
}

/*------Aside----*/
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

aside .content-wrapper {
  width: 90%;
}

aside .form{
  margin: 40px 0;
}

aside .form h3{
  margin: 0;
}

aside .form input{
  margin: 15px 0;
  width: 88%;
}

/*-------Features-------*/
.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url("../img/features-background.jpg") no-repeat;
  background-size: cover;
}

.features .content-wrapper{
  width: 90%;
}

.features .feature-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 55%;
  margin: 30px 80px;
  text-align: center;
}

.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.125rem 0 2.1875rem 0;
}

.features-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/*------Reviews--------*/

.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h3{
  font-size: 1.875em;
}

/*=======================
-----About Page------
========================*/
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  background-color: #527158;
  width: 100%;
}

.mission .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 89%;
  padding: 4em 0;
}

.map-container figure{
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 4em 0;
  background-color: #2a423a;
}

.contact-section .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 89%;
}

.contact-content p{
  margin: 0;
}

/*----------FAQ Page----------*/
.faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.faqs .content-wrapper {
  width: 89%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 3em auto;
}

/*=====================
Extra styles
======================*/

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* ----------Base Header - Footer Styles---------*/
  h1{
    font-size: 3em;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }
  /*Header Styles*/
  header figure{
    width: 50%;
  }
  header .content-wrapper {
    flex-flow: row nowrap;
    width: 83%;
  }

  .header-divide{
    visibility: collapse;
  }

  header nav ul li {
    margin: 0 2rem;
  }
  /*-------Footer Styles--------*/
  footer .content-wrapper{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 83%;
    text-align: center;
  }

  footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 5rem 0;
    width: 49%;
  }

  footer .social {
    width: 49%;
  }

  .social-imgs{
    padding: 1.5rem 0;
  }


  /*-------Hero Area-------*/
  .hero-area .content-wrapper {
    width: 83%;
  }
  .hero-area h1 {
    margin-bottom: 26.25rem;
  }

  /*------Aside----*/
  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 84%;
  }

  aside .form-description {
    width: 33%;
  }

  aside .form {
    width: 42%;
  }

  /*-------Features-------*/
  .features .content-wrapper{
    width: 83%;
  }

  .features h1{
    font-size: 2.25rem;
  }


  .features .feature-items {
    width: 65%;
    justify-content: space-between;
  }

  .features .feature-items-description {
    width: 33%;
    margin: auto 2rem;
  }

  .features-img img {
    width: 50%;
  }


  /*--------Reviews-------*/
  .reviews .content-wrapper {
    margin: 5rem auto;
    width: 84%;
  }

  .reviews h3{
    font-size: 2.25em;
  }

  .reviews figure{
    width: 49%;
  }

  .testimonials {
    width: 49%;
  }
  /*======================
  --------About Page--------
  ===========================*/
  h1,
  h2 {
    font-size: 2.25rem;
    font-weight: normal;
  }

  h4 {
    font-size: 1.5rem;
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px
  }

  .mission-content p {
    width: 45%;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }


  /*===========================
  ----------FAQs Page----------
  =============================*/
  .questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .question-answer {
    width: 43%;
  }

}


@media only screen and (min-width: 1200px) {
  /* ----------Base Header - Footer Styles---------*/
  /* General Styles */
  h1{
    font-size: 3.75rem;
  }

  h3,
  h4 {
    font-size: 1.875rem;
  }

  figure {

  }
  /*Header Styles*/



  header nav ul {
    width: 13%;
  }

  header nav ul li {
    font-size: 1.125em;
  }
  /*-------Footer Styles--------*/
  footer .contact {
    width: 27%;
    margin: inherit 10rem;
  }

  footer .social {
    width: 20%;
    margin: inherit 10rem;
  }

  .social-imgs{
    padding: 1rem 0;
  }

  /*-------Hero Area-------*/

  /*------Aside----*/

  /*-------Features-------*/
  .features .feature-items{
    margin: 0;
    width: 100%;
  }

  .features .feature-items-description {
    width: 25%;
  }

.features h3 {
  font-size: 2.25rem;
}

.features p {
  font-size: 1.125rem;
  margin: 2rem;
}

.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.125rem 0 2.1875rem 0;
}

.features-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

  /*--------Reviews-------*/
  .reviews h4{
    font-size: 1.85em;
  }

  .reviews p {
    font-size: 1.125rem
  }

  /*======================
  --------About Page--------
  ===========================*/
  h1,
  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.67rem;
  }

  p{
    font-size: 1.125rem;
  }

  .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px
      }

  .mission-content p {
        width: 45%;
      }

  .contact-section .content-wrapper h2 {
        width: 80%;
      }

  .contact-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
      }


  /*===========================
  ----------FAQs Page----------
  =============================*/
  .questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .question-answer {
    width: 43%;
  }


}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
